<% if component.name == "Empty" %>
<li class="empty draggable col-span-32" draggable="true">
    <%= component.name %>
</li>
<% else %>
    <% component.height.times do |i| %>
        <li class="component draggable col-start-1 col-end-<%= component.depth %>" draggable="true">
            <%= component.name %>
        </li>
    <% end %>
<% end %>