<% if component.name == "Empty" %>
<li class="empty draggable col-start-1 col-end-6" draggable="true">
    <%= component.name %>
</li>
<% else %>
<li class="component draggable col-start-1 col-end-<%= component.depth %>" draggable="true">
    <% component.height.times do |i| %>
        <p><%= component.name %> : <%= component.depth %>"</p>
    <% end %>
</li>
<% end %>