<h3>Hardcoded</h3>

<ul id="hard-server-rack-vizualization" class="grid grid-cols-32 gap-1">
    <li class="component draggable col-start-1 col-end-7" draggable="true">01 | Patch Panel</li>
    <li class="component draggable col-start-1 col-end-12" draggable="true">02 | UDM Pro</li>
    <li class="component draggable col-start-1 col-end-12" draggable="true">03 | Network Switch</li>
    <li class="empty draggable col-span-32" draggable="true">04 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">05 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">06 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">07 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">08 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">09 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">10 | Empty</li>
    <li class="empty draggable col-span-32" draggable="true">11 | Empty</li>
    <li class="component draggable col-start-1 col-end-19" draggable="true">12 | Main</li>
    <li class="component draggable col-start-1 col-end-19" draggable="true">13 | Main</li>
    <li class="component draggable col-start-1 col-end-19" draggable="true">14 | Main</li>
    <li class="component draggable col-start-1 col-end-19" draggable="true">15 | Main</li>
    <li class="empty draggable col-span-32" draggable="true">16 | Empty</li>
    <li class="component draggable col-start-1 col-end-11" draggable="true">17 | UPS</li>
    <li class="component draggable col-start-1 col-end-11" draggable="true">18 | UPS</li>
</ul>

<%= javascript_include_tag 'packs/hard_server_racks' %>